Dear {{.OAuth.FirstName}} {{.OAuth.LastName}},

We wanted to inform you about the status of your job application for {{.Job.Name}} with the position of {{.Job.Position}}.

Your application has been {{.Status}}.

If you have any questions, please reach out to the company who posted this job.

Please note: This is a no-reply email. Do not reply to this message.

Best regards,
The KU-WORK Team