Dear {{.CompanyUser.Username}},

You have received a new application for your {{.Job.Name}} - {{.Job.Position}} job post on the KU-Work platform.

Applicant Details:
Name: {{.Applicant.FirstName}} {{.Applicant.LastName}}
Applied On: {{.Application.Date.Format "January 2, 2006"}}

Best regards,
The KU-WORK Team

Please note: This is a system-generated email. Replies to this address are not monitored.