services:
  db:
    image: "postgres:17-alpine"
    env_file: ".env"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /pgdata
    volumes:
      - type: volume
        source: db
        target: /pgdata
    ports:
      - "${DB_PORT:-5432}:5432"
    healthcheck:
      test:
        ["CMD", "pg_isready", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}"]
      start_period: 10s
      interval: 10s
      retries: 6

  redis:
    image: "redis:7-alpine"
    env_file: ".env"
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - type: volume
        source: redis
        target: /data
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      start_period: 5s
      interval: 10s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: ./Dockerfile
    ports:
      - "${BACKEND_PORT:-8000}:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: ".env"
    volumes:
      - ./backend/gcs-key.json:/app/gcs-key.json
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
      CORS_ALLOWED_ORIGINS: http://localhost:3000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/swagger/index.html"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
      args:
        GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
        TURNSTILE_CLIENT_TOKEN: ${TURNSTILE_CLIENT_TOKEN}
        API_BASE_URL: http://localhost:8000
    env_file: .env
    ports:
      - "${FRONTEND_PORT:-3000}:3000"
volumes:
  db:
  redis:
