services:
  db:
    image: "postgres:17-alpine"
    env_file: .env
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGDATA: /pgdata
    volumes:
      - type: volume
        source: db
        target: /pgdata
    expose:
      - 5432
    ports:
      - "${DB_PORT}:5432"
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $$POSTGRES_DB -U $$POSTGRES_USER
      start_period: 10s
      interval: 10s
      retries: 6

  redis:
    image: "redis:7-alpine"
    env_file: .env
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_DB: ${REDIS_DB}
    expose:
      - 6379
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - type: volume
        source: redis
        target: /data
    healthcheck:
      test:
        - CMD
        - redis-cli
        - ping
      start_period: 5s
      interval: 10s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file: ".env"
    environment:
      GIN_MODE: release
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}

volumes:
  db:
  redis:
