LISTEN_ADDRESS=:8000
DB_PORT=5432
DB_HOST=localhost
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=ku_work

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS
CORS_ALLOWED_HEADERS=Origin,Content-Length,Content-Type,Authorization
CORS_ALLOW_CREDENTIALS=true
CORS_MAX_AGE=43200

# JWT Configuration
JWT_SECRET=please-change-this-is-insecure!!

# Session Configuration
MAX_SESSIONS_PER_USER=10

# Cookie Configuration
COOKIE_SECURE=true

# GoogleOAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here

# Swagger Configuration
SWAGGER_HOST=localhost:8000

# AI Configuration
APPROVAL_AI=dummy

# Email Configuration (dummy, SMTP, gmail)
EMAIL_PROVIDER=dummy

# SMTP Configuration (Select provider as SMTP)
SMTP_SERVER_HOST=SMTP.server.host
SMTP_SERVER_PORT=587
SMTP_SENDER=smtp_sender_username_mail
SMTP_PASSWORD=sender_password

# GMAIL Configuration (Select provider as gmail)
GMAIL_OAUTH_CLIENT_ID=your_oauth_client_id
GMAIL_OAUTH_CLIENT_SECRET=your_oauth_client_scret
# Follow the step in the email_config.md guide to get Access and Refresh token.
GMAIL_OAUTH_ACCESS_TOKEN=
GMAIL_OAUTH_REFRESH_TOKEN=
